<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Fancy Scroller</title>
  <%- raw_css('fonts/open-sans/css/fonts.css') %>
  <%- raw_css('fonts/source-code-pro/css/fonts.css') %>
  <%- css('style') %>
  <%- css('demo') %>
</head>
<body>
  <%- content %>

  <nav>
    <ul>
      <% for (var i = 0; i < hashes.length; i++) { %>
        <% var item = hashes[i]; %>
        <li>
          <a href="#<%= item.hash %>" section-title="<%= item.title %>"></a>
        </li>
      <% } %>
    </ul>
  </nav>
  <div class="socials">
    <ul>
      <li>
        <a class='github' href="https://github.com/akish/fancy-scroller"></a>
      </li>
    </ul>
  </div>

  <script type="text/javascript">
    var Demo = {
      opts: {
        debug: <%= debug %>,
        autoSetHash: true,
        animationEpsilon: 0.001
      }
    };
  </script>
  <%- js('fancy-scroller') %>
  <%- js('demo') %>
</body>
