<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Fancy Scroller</title>
  <link rel="stylesheet" href="style<%= debug ? '' : '.min' %>.css">
  <link rel="stylesheet/less" href="../demo/demo.less" />
  <script src="less.min.js"></script>
  <!-- <link rel="stylesheet" href="demo<%= debug ? '' : '.min' %>.css"> -->
</head>
<body>
  <%- content %>

  <nav>
    <ul>
      <% for (var i = 0; i < hashes.length; i++) { %>
        <% var item = hashes[i]; %>
        <li>
          <a href="#<%= item.hash %>" section-title="<%= item.title %>"></a>
        </li>
      <% } %>
    </ul>
  </nav>
  <script src="fancy-scroller<%= debug ? '' : '.min' %>.js"></script>
  <script type="text/javascript">
    // loadStyle('style.css');
    window.scroller = new FancyScroller(document.body, {
      debug: <%= debug %>,
    });
  </script>
</body>
